<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>CPE Department</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="https://gentle-tor-71214.herokuapp.com" class="brand-logo">
         <i class="medium material-icons">airplay</i>
      Kasetsart CPE</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://gentle-tor-71214.herokuapp.com">HOME</a></li>
        <li><a href="https://gentle-tor-71214.herokuapp.com/about">ABOUT</a></li>
        <li><a href="https://gentle-tor-71214.herokuapp.com/scholarship">TUITION FEE & SCHOLARSHIP</a></li>
        <li><a href="https://gentle-tor-71214.herokuapp.com/research">RESEARCH</a></li>
        <li><a href="https://gentle-tor-71214.herokuapp.com/contact">CONTACT</a></li>

      </ul>

    </div>
  </nav>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">About Us</h1>
        <div class="row center">
          <h5 class="header col s12 light">OVERVIEW OF OUR DEPARTMENT</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="public/black-and-white-city-skyline-buildings" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">
            Our Department of Computer Engineering in the Faculty of Engineering, Kasetsart University, was founded on February 3rd, 1989 with the mission to teach, research, develop and service in related areas such that our graduates will meet the market need
            in Thailand as well as the region. Currently, the department is offering degrees in computer engineering, information technology, software engineering and knowledge engineering as follow:
            <br><br>
            <li> Bachelor of Engineering in Computer Engineering </li>
            <li> Bachelor of Engineering in Software and Knowledge Engineering </li>
            <li> Master of Science in Information Technology </li>
            <li> Master of Engineering in Computer Engineering </li>
            <li> Doctor of Engineering in Computer Engineering </li>
            <br><br> In addition to our course offerings, many research units have been founded by faculty members in our department, ranging from development centers and specific research centers to research laboratories. These units are either under the umbrella
            of the university, the faculty or our department. This leads to the cooperation in research within the university as well as institutions inside and outside the country. Most of our researches have funding from the university, the Royal Thai government,
            foreign governments and several companies both inside and outside the country.
            <br><br> Our department encourages our students, staffs, researchers and faculty members to continuously and repeatedly advance the knowledge in the area. We support our members in several ways from participating in academic training, publishing papers
            in conferences and seeking cooperation with experts in related area worldwide.
            <br><br> Our vision is to continuously take a lead role in education, training and research in computer engineering to make our graduates fully prepared and ready for the rapidly growing industry in Thailand as well as the region.
          </p>
        </div>
      </div>

    </div>
  </div>


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact</h5>
          <p class="grey-text text-lighten-4">
            Contact US: 02-797-0999 x 1403
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by ISP Student 2017
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
