<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        ACADEMICS
    </title>
</head>

<body>
    <h2 class="ui header">ACADEMICS</h2>
    <h3> International Undergraduate Courses </h3> 01219111 — การโปรแกรมเชิงวัตถุ I (Object-Oriented Programming I) <br> 01219112 — เทคโนโลยีสารสนเทศเบื้องต้น (Introduction to Information Technology) <br> 01219113 — การโปรแกรมเชิงวัตถุ II (Object-Oriented Programming II) <br> 01219211 — ค่ายฝึกพัฒนาซอฟต์แวร์
    (Software Development Training Camp) <br> 01219212 — ปฏิบัติการชนิดข้อมูลนามธรรม (Abstract Data Types Laboratory)<br> 01219213 — ทักษะการสื่อสารสำหรับวิศวกรซอฟต์แวร์และความรู้ (Communication Skills for Software and Knowledge Engineers)<br> 01219214
    — ความน่าจะเป็นและสถิติสำหรับวิศวกรซอฟต์แวร์และความรู้ (Probability and Statistics for Software and Knowledge Engineers)<br> 01219215 — ปฏิบัติการระบบคอมพิวเตอร์ (Computer System Laboratory)<br> 01219216 — ระบบปฏิบัติการสำหรับวิศวกรซอฟต์แวร์และความรู้
    (Operating Systems for Software and Knowledge Engineers)<br> 01219221 — องค์กรและสถาปัตยกรรมคอมพิวเตอร์ (Computer Organization and Architecture)<br> 01219243 — ข้อกำหนดและการออกแบบซอฟต์แวร์ (Software Specification and Design)<br> 01219244 — ปฏิบัติการข้อกำหนดและการออกแบบซอฟต์แวร์
    (Software Specification and Design Laboratory)<br> 01219245 — กระบวนการพัฒนาซอฟต์แวร์เชิงเดี่ยว (Individual Software Development Process)<br> 01219246 — ปฏิบัติการกระบวนการพัฒนาซอฟต์แวร์เชิงบุคคล (Individual Software Development Process Laboratory)<br>    01219271 — วิศวกรรมความรู้และการจัดการความรู้ (Knowledge Engineering and Knowledge Management)<br> 01219321 — การสื่อสารข้อมูลและการโปรแกรมคอมพิวเตอร์เครือข่าย (Data Communication and Computers Networks Programming)<br> 01219322 — วิศวกรรมพาณิชย์อิเล็กทรอนิกส์
    (Electronic Commerce Engineering)<br> 01219332 — คลังข้อมูล (Data Warehouse)<br> 01219333 — การทำเหมืองข้อมูลเบื้องต้น (Introduction to Data Mining)<br> 01219334 — การประมวลผลรายการเปลี่ยนแปลง (Transaction Processing)<br> 01219343 — การทดสอบซอฟต์แวร์
    (Software Testing)<br> 01219344 — การพัฒนาซอฟต์แวร์บนอุปกรณ์เคลื่อนที่ (Mobile Software Development)<br> 01219347 — กระบวนการพัฒนาซอฟต์แวร์เชิงกลุ่มงาน (Workgroup Software Development Process)<br> 01219348 — ปฏิบัติการกระบวนการพัฒนาซอฟต์แวร์เชิงกลุ่มงาน
    (Workgroup Software Development Process Laboratory)<br> 01219351 — การพัฒนาซอฟต์แวร์ประยุกต์บนเว็บ (Web Application Development)<br> 01219361 — อัจฉริยะเชิงธุรกิจ (Business Intelligence)<br> 01219362 — การเรียนรู้ของเครื่องจักร (Machine Learning)<br>    01219363 — การแทนความรู้ (Knowledge Representation)<br> 01219364 — การค้นพบความรู้ (Knowledge Discovery)<br> 01219371 — เทคโนโลยีสารสนเทศสำหรับการจัดการความรู้ (Information Technology for Managing Knowledge)<br> 01219373 — การจัดการนวัตกรรม (Innovation
    Management)<br> 01219381 — วิศวกรรมข้อมูลสื่อประสม (Multimedia Data Engineering)<br> 01219391 — พลวัติเชิงกลุ่มและจิตวิทยา (Group Dynamics and Psychology)<br> 01219411 — ความมั่นคงของระบบคอมพิวเตอร์ (Computer Systems Security)<br> 01219412 — การเขียนเชิงเทคนิคสำหรับวิศวกรซอฟต์แวร์และความรู้
    (Technical Writing for Software and Knowledge Engineers)<br> 01219448 — ปฏิบัติการแบบรูปและสถาปัตยกรรมซอฟต์แวร์ (Software Patterns and Architecture Laboratory)<br> 01219449 — แบบรูปและสถาปัตยกรรมซอฟต์แวร์ (Software Patterns and Architecture)<br> 01219451
    — เทคโนโลยีการบริการเว็บ (Web Services Technology)<br> 01219481 — การวิเคราะห์เนื้อหาสื่อประสม (Multimedia Content Analysis)<br> 01219482 — การนำเสนอแบบสื่อหลายมิติ (Hypermedia Presentation)<br> 01219483 — ศิลปศาสตร์ดิจิทัล (Digital Arts)<br> 01219490
    — สหกิจศึกษา (Cooperative Education)<br> 01219491 — ระเบียบวิธีวิจัยเบื้องต้นทางวิศวกรรมซอฟต์แวร์และความรู้ (Introduction to Research Methods in Software and Knowledge Engineering)<br> 01219492 — การเป็นผู้ประกอบการซอฟต์แวร์ (Software Entrepreneurship)<br>    01219495 — โครงงานรายบุคคลวิศวกรรมซอฟต์แวร์และความรู้ (Software and Knowledge Engineering Individual Project)<br> 01219496 — เรื่องเฉพาะทางวิศวกรรมซอฟต์แวร์และความรู้ (Selected Topics in Software and Knowledge Engineering)<br> 01219497 — สัมมนา (Seminar)<br>    01219498 — ปัญหาพิเศษ (Special Problems)<br> 01219499 — โครงงานกลุ่มนวัตกรรมซอฟต์แวร์ (Innovative Software Group Project)<br>
</body>

</html>