<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
CONTACT
    </title>
</head>

<body>
    <h2 class="ui header">CONTACT US</h2>
    ภาควิชาวิศวกรรมคอมพิวเตอร์ (อาคาร15) <br>
    คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ <br>
    เลขที่ 50 ถนนงามวงศ์วาน แขวงลาดยาว <br>
    เขตจตุจักร กรุงเทพ ฯ 10900 <br>
    โทร. 0-2797-0999 ต่อ 1403-04 1450
</body>
</html>
