<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>CPE Department</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static_pages/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="https://gentle-tor-71214.herokuapp.com" class="brand-logo">
         <i class="medium material-icons">airplay</i>
      Kasetsart CPE</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://gentle-tor-71214.herokuapp.com">HOME</a></li>
        <li><a href="https://gentle-tor-71214.herokuapp.com/about">ABOUT</a></li>
        <li><a href="https://gentle-tor-71214.herokuapp.com/scholarship">TUITION FEE & SCHOLARSHIP</a></li>
        <li><a href="https://gentle-tor-71214.herokuapp.com/research">RESEARCH</a></li>
        <li><a href="https://gentle-tor-71214.herokuapp.com/contact">CONTACT</a></li>

      </ul>

    </div>
  </nav>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Home</h1>
        <div class="row center">
          <h5 class="header col s12 light">Kasetsart University<br>Department of Computer Engineering</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="public/black-and-white-city-skyline-buildings.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">
        <img class="image1" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/09/DSCF3342-960x350.jpg">
            <h2 class="intro"> INTRODUCTION </h2>
        <p>The Department of Computer Engineering offers accredited Bachelor, Master and Doctoral degree programs in Computer Engineering, as well as Master of Science degree program in Information Technology.</p>
        <p>Currently, the Department has 30 full-time faculties plus a number of adjunct faculties, two special research unites (in High – Performance Computing and Natural Language Processing) and 6 research laboratories (in Networking, Web Retrieval and
            Data Mining, Software Engineering, Multimedia, VLSI, and Robotics.)</p>
        <p>The computing facilities of the Department and the University include several work-stations PCs, and a 72-node Pirun cluster.</p>
        <p>Facebook Page <a href="https://www.facebook.com/KasetsartCPE/">Click Here</a></p>
        <img class="image2" src="https://www.cpe.ku.ac.th/wp-content/uploads/2014/09/IMG_3138-960x350.jpg">          </p>
        </div>
      </div>

    </div>
  </div>


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact</h5>
          <p class="grey-text text-lighten-4">
            Contact US: 02-797-0999 x 1403
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by ISP Student 2017
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
