<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>CPE Department</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="https://www.google.co.th" class="brand-logo">
         <i class="medium material-icons">airplay</i>
      Kasetsart CPE</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://www.google.co.th">HOME</a></li>
        <li><a href="https://www.google.co.th">ABOUT</a></li>
        <li><a href="https://www.google.co.th">TUITION FEE & SCHOLARSHIP</a></li>
        <li><a href="https://www.google.co.th">RESEARCH</a></li>
        <li><a href="https://www.google.co.th">CONTACT</a></li>

      </ul>

    </div>
  </nav>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Kasetsart Unitversity</h1>
        <div class="row center">
          <h5 class="header col s12 light">RESEARCH AREAS AND LABS<br>Space for effective studying.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://il3.picdn.net/shutterstock/videos/12549476/thumb/1.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <!-- <h4>Contact Us</h4> -->
          <p class="left-align light">
            <h3> Cluster #1: Digital and Embedded Systems </h3>
    <li> Advance Digital Application (ADA)</li>
        <li> Robotics and Intelligent Mechatronics Lab (RIML)</li>
            <br> <br>
            <h3> Cluster #2: Computer Networks and Systems </h3>
            <li> Intelligent Wireless Network Group (IWING)</li>
                <li> Applied Network Research Lab (ANRES)</li>
                    <li> High Performance Computing and Networking Center (HPCNC)</li>
                        <li> Performance and Reliability Lab (PERF)</li>
                            <br> <br>
                            <h3> Cluster #3: Info. Engineering and Intelligent Systems </h3>

                            <li> Data Analysis and Knowledge Discovery Laboratory (DAKDL)</li>
                                <li> Massive Information and Knowledge Engineering Laboratory (MIKE)</li>
                                    <li> Specialty Research Unit in Natural Language Processing and Intelligent Information System Technology (NAIST)</li>
                                        <li>Smart Home Network System and Service Interaction Laboratory (SHNS)</li>

                                            <br> <br>
                                            <h3> Cluster #4: Software and Database Technology </h3>

                                            <li> Software Engineering and Architecture Laboratory (SEAL)</li>
                                                <li> Database and Software Technology Research Laboratory (DSTRL)</li>
                                                    <li> Innovation and Knowledge Management (IKM)</li>
                                                        <br> <br>
                                                        <h3> Cluster #5: Graphics and Multimedia </h3>
                                                        <li> Multimedia Analysis and Discovery Laboratory ( MAD )</li>
                                                            <h3> Cluster #6: Computer Theory</h3>
                                                            <li> Theory Research Lab (theory)</li>
          </p>
        </div>
      </div>

    </div>
  </div>


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact</h5>
          <p class="grey-text text-lighten-4">
            Contact US: 02-797-0999 x 1403
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by ISP Student 2017
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
