<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>CPE Department</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="https://www.google.co.th" class="brand-logo">
         <i class="medium material-icons">airplay</i>
      Kasetsart CPE</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://www.google.co.th">HOME</a></li>
        <li><a href="https://www.google.co.th">ABOUT</a></li>
        <li><a href="https://www.google.co.th">TUITION FEE & SCHOLARSHIP</a></li>
        <li><a href="https://www.google.co.th">RESEARCH</a></li>
        <li><a href="https://www.google.co.th">CONTACT</a></li>

      </ul>

    </div>
  </nav>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">RESEARCH OVERVIEW</h1>
        <div class="row center">
          <h5 class="header col s12 light">We going to look through the researching</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://il3.picdn.net/shutterstock/videos/12549476/thumb/1.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">
            าควิชาวิศวกรรมคอมพิวเตอร์ทำการพัฒนาและค้นคว้าวิจัยทางด้านเทคโนโลยีคอมพิวเตอร์ ทั้งด้านฮาร์ดแวร์และซอฟต์แวร์ในสาขาต่าง ๆ เช่น สถาปัตยกรรมคอมพิวเตอร์ เครือข่ายคอมพิวเตอร์และการสื่อสารข้อมูล การประยุกต์ใช้งานไมโครโปรเซสเซอร์ การโปรแกรมระบบ ปัญญาประดิษฐ์
            วิศวกรรมซอฟต์แวร์ การพัฒนาระบบงานคอมพิวเตอร์ ระบบการจัดการฐานข้อมูล และเทคโนโลยีสารสนเทศเพื่อการจัดการ <br> <br>
            <li> ผลงานวิจัยและพัฒนาเด่น</li>
                <li> ผลงานดีเด่นของนิสิต</li>
                    <li> รายชื่อห้องปฏิบัติการ</li>
          </p>
        </div>
      </div>

    </div>
  </div>


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact</h5>
          <p class="grey-text text-lighten-4">
            Contact US: 02-797-0999 x 1403
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by ISP Student 2017
      </div>
    </div>
  </footer>
