<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        RESEARCH
    </title>
</head>

<body>
    <h2 class="ui header"> RESEARCH OVERVIEW </h2> ภาควิชาวิศวกรรมคอมพิวเตอร์ทำการพัฒนาและค้นคว้าวิจัยทางด้านเทคโนโลยีคอมพิวเตอร์ ทั้งด้านฮาร์ดแวร์และซอฟต์แวร์ในสาขาต่าง ๆ เช่น สถาปัตยกรรมคอมพิวเตอร์ เครือข่ายคอมพิวเตอร์และการสื่อสารข้อมูล การประยุกต์ใช้งานไมโครโปรเซสเซอร์ การโปรแกรมระบบ ปัญญาประดิษฐ์
    วิศวกรรมซอฟต์แวร์ การพัฒนาระบบงานคอมพิวเตอร์ ระบบการจัดการฐานข้อมูล และเทคโนโลยีสารสนเทศเพื่อการจัดการ <br> <br>
    <li> ผลงานวิจัยและพัฒนาเด่น
        <li> ผลงานดีเด่นของนิสิต
            <li> รายชื่อห้องปฏิบัติการ
</body>

</html>
