<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>CPE Department</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="https://gentle-tor-71214.herokuapp.com" class="brand-logo">
         <i class="medium material-icons">airplay</i>
      Kasetsart CPE</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://gentle-tor-71214.herokuapp.com">HOME</a></li>
        <li><a href="https://gentle-tor-71214.herokuapp.com/about">ABOUT</a></li>
        <li><a href="https://gentle-tor-71214.herokuapp.com/scholarship">TUITION FEE & SCHOLARSHIP</a></li>
        <li><a href="https://gentle-tor-71214.herokuapp.com/research">RESEARCH</a></li>
        <li><a href="https://gentle-tor-71214.herokuapp.com/contact">CONTACT</a></li>

      </ul>

    </div>
  </nav>


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Kasetsart Unitversity</h1>
        <div class="row center">
          <h5 class="header col s12 light">Computer Engineering Department<br>A Place Where Great Programmer border-spacing</h5>
        </div>
      </div>
    </div>
    <div class="parallagitx"><img src="black-and-white-city-skyline-buildings.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">

          </p>
        </div>
      </div>

    </div>
  </div>


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contact</h5>
          <p class="grey-text text-lighten-4">
            Contact US: 02-797-0999 x 1403
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by ISP Student 2017
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
